<<<<<<< HEAD
=======
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;

    background-image: url(170531047643750_P18431113.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#container {
    text-align: center;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 10%;
    left: 50px;

h1 {
    font-size: 24px;
    color: #333;
}
}

#dashboard{
    text-align: center;
    padding: 20px;
    background-color: aquamarine;

    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 25%;
    left: 50px;
}
>>>>>>> 291c0581d99209433311d7ee9c5168eb2a8db13e
